<div class="custom-cont" data-mage-init='{"slickWidget":{}}'>
    <img src='<?php echo $this->getViewFileUrl('CustomPage_Page::images/custom.jpg'); ?>' alt="firstSlider">
    <img src='<?php echo $this->getViewFileUrl('CustomPage_Page::images/custom.jpg'); ?>' alt="secondSlider">
    <img src='<?php echo $this->getViewFileUrl('CustomPage_Page::images/custom.jpg'); ?>' alt="thirdSlider">
</div>
