
.columns {
    .column.main {
        .slick-list {
            height: 100%;
            .slick-track {
                .slick-slide {
                    height: 600px;
                }
            }
        }
    }
}
