& when (@media-common = true) {
    .page-main {
        .columns {
            .column {
                &.main {
                    span {
                        .ui-selectmenu-text {
                            display: none;
                        }
                    }
                }

                .toolbar {
                    .sorter-action {
                        display: none;
                    }

                    &.toolbar-products {
                        .ui-selectmenu-button {
                            .lib-icon-font(
                                @icon-up,
                                @_icon-font-color: @color-black
                            );
                            width: 70px;
                            position: absolute;
                            right: 18px;
                            display: inline-block;
                            text-decoration: none;
                            text-align: right;
                        }

                        .ui-selectmenu-button-closed {
                            .lib-icon-font(
                                @icon-down,
                                @_icon-font-color: @color-black
                            );
                            width: 70px;
                            position: absolute;
                            right: 18px;
                            display: inline-block;
                            text-decoration: none;
                            text-align: right;
                        }
                    }
                }

                .sorter-label {
                    margin-right: 40px;
                }
            }
        }
    }

    .ui-selectmenu-menu {
        &.ui-front {
            z-index: 2000;

            &.ui-selectmenu-open {
                > ul {
                    display: block;
                    list-style: none;
                    width: 120px;
                    .lib-css(background-color, @color-white);
                    .lib-css(border, 1px solid @color-black);
                    padding: 5px 0 0 0;
                    text-align: center;
                    height: 92px;

                    > li {
                        .lib-css(border-bottom, 1px solid @color-black);
                        padding-bottom: 10px;
                        margin-bottom: 0;
                    }
                }
            }

            &:not(.ui-selectmenu-open) {
                > ul {
                    display: none;
                }
            }
        }
    }
}
