// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Luma theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------


//  Fonts
@font-family-name__base: 'Roboto';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

@font-family-name__grace: 'CoveredByYourGrace';
@font-family__cursive: cursive;
@font-family__grace: @font-family-name__grace, @font-family__cursive;

//  Colors nesting
@page__background-color: @color-white;

//
//  Icons
//  ---------------------------------------------

@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';

@icon-calendar__font-size: 23px;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  Sidebar blocks
//  ---------------------------------------------

@block-items__counter__color: @color-gray43;

//
//  Color
//  ---------------------------------------------

@color-lgrey: #616161;
@color-wgrey: #c6c6c6;
@color-whitegrey: #cecece;
@color-wsmoke: #f5f5f5;
@color-white: #fff;
@color-dgreen: #8bc53b;
@color-lgreen: #8dc73f;
@color-green: #009933;
@color-wgreen: #00ff00;
@color-gblue: #89cdc3;
@color-black: #000;
@color-blue: #006bb4;
