& when (@media-common = true) {



    .navigation {
        li {
            .lib-css(font-family, @font-family-name__base);
            text-transform: uppercase;
            .lib-font-size(12);
            .lib-css(font-weight, @font-weight__regular);
        }
    }

    .schedule-div {
        width: 400px;
        height: 60px;

        .phone-img {
            background-image: url('@{baseDir}images/phone.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            width: 30px;
            height: 55px;
            float: left;
            margin-right: 10px;
        }

        .text-div {
            float: left;
            width: 307px;
            display: block;

            span {
                &:first-child {
                    .lib-font-size(20);
                    .lib-css(color, @color-lgrey);
                }

                &:nth-child(2) {
                    font-family: @font-family__grace;
                    .lib-font-size(27);
                    .lib-css(color, @color-green);
                    .lib-line-height(10);
                }

                &:last-child {
                    .lib-css(color, @color-lgrey);
                    .lib-font-size(12);
                    display: block;
                }
            }
        }
    }

    .columns {
        max-width: 100%;
        margin: auto;

        .content_div {
            text-align: center;
            width: 800px;
            margin: 0 auto;
            .lib-css(color, @color-lgrey);
            .lib-font-size(16);
            max-width: 100%;

            .end_home {
                width: 305px;
                margin: auto;
                margin-top: 25px;

                .first_logo {
                    background-image: url('@{baseDir}images/logo_home_page.svg');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    width: 190px;
                    height: 100px;
                    margin: auto;
                    float: left;
                }

                .second_logo {
                    background-image: url('@{baseDir}images/social_media_logos.png');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    width: 90px;
                    height: 100px;
                    float: right;
                }
            }
        }
    }

    .page-title-wrapper {
        text-align: center;
        .lib-css(color, @color-lgrey);

        .base {
            span {
                padding-left: 70px;
                .lib-font-size(38);
            }
        }
    }

    .companies-div {
        margin: auto;
        width: 100%;
        height: 100%;

        .in-logos {
            max-width: 1350px;
            height: 100%;
            margin: auto;
            .lib-vendor-prefix-display(flex);
            justify-content: space-between;

            .slick-slide {
                img {
                    max-width: 92%;
                    max-height: 86%;
                }
            }
        }
    }

    small.copyright {
        .lib-css(background-color, @color-dgreen);
    }

    .page-header {
        .header.content {
            .logo {
                .lib-vendor-prefix-display(flex);
            }
        }

    }

    .panel.wrapper {
        .authorization-link {
            a {
                width: 90px;
                height: 15px;
                padding: 7px 0;
                .lib-background-gradient(
                    @_background-gradient: true,
                    @_background-gradient-direction: vertical,
                    @_background-gradient-color-start: rgba(138, 205, 191, 1),
                    @_background-gradient-color-end: rgba(140, 199, 70, 1)
                );
                border-radius: 6px;
                .lib-css(font-weight, @font-weight__bold);
                text-align: center;
            }

        }

    }

    .minicart-wrapper {
        a.action.showcart {
            &:before {
                .lib-font-size(25);
                .lib-css(color, @color-white);
                float: right;
            }

            .text {
                .lib-font-size(18);
                .lib-css(color, @color-white);
                position: static;
                margin: 20px;
            }
        }
    }

    .block.block-search {
        float: left;
        padding-left: 30px;
        width: 320px;
        margin: auto;

        input {
            .lib-css(border-color, @color-gblue);
            border-radius: 5px;
            padding-left: 35px;
            padding-right: 70px;
            font-style: italic;
        }

        .action.search {
            &:before {
                display: none;
            }
        }

        div.control {
            position: relative;
            .lib-icon-font(
                @icon-cart,
                @_icon-font-size: 16px,
                @_icon-font-color: @color-black,
                @_icon-font-position: before,
                @_icon-font-display: block
            );

            &::before {
                position: absolute;
                left: 28px;
                float: left;
            }
        }
    }

    .modal-inner-wrap {
        border-radius: 25px;
        top: 50%;
        max-width: 500px;
        .lib-css(transform,translateY(-50%));
        #drop-top {
            .lib-icon-font(
                @icon-down,
                @_icon-font-color: @color-black
            );
            width: 152px;
            margin-right: 0;
            &:before {
                float: right;
            }
        }
        .modal-content {
            .registries {
                .label {
                    display: block;
                    padding-bottom: 5px;
                    > input {
                        display: none;
                    }
                }
            }
        }
        #modal-title-4 {
            text-align: center;
        }
        #confirm-add-to-registry {
            display: block;
            width: 100%;
            text-align: center;
            .lib-css(background,@color-blue);
            .lib-font-size(20);
            padding: 5px 0;
            border-radius: 10px;
            margin-top: 15px;
            text-decoration: none;
            .lib-css(color,@color-white);
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {


    .section.nav-sections {
        .ves-megamenu {
            .navigation {
                .nav-item {
                    &.subgroup {
                        .submenu {
                            display: block;
                            position: static;
                            margin-bottom: 10px !important;
                            border: 0;
                            min-width: auto;
                            .lib-css(box-shadow, none)
                        }
                    }

                    &.subhover {
                        .submenu {
                            border: 0;
                            width: 100%;
                            z-index: 99;
                            border-radius: 0;
                            .lib-css(box-shadow, 0 5px 10px rgba(0, 0, 0, 0.15), 1)
                        }
                    }
                }
            }
        }
    }


    .page-wrapper {
        .nav-sections {
            text-align: left;
        }

        .phone_img_home {
            background-image: url('@{baseDir}images/phone_home_page.svg');
            width: 100px;
            height: 247px;
            background-size: 100%;
            background-repeat: no-repeat;
            float: left;
            transform: scaleX(-1);
            margin-right: 10px;
            margin-left: 25px;
            display: block;
        }
    }


    .page-header {
        .header.content {
            .lib-vendor-prefix-flex-direction(row);

            a.logo {
                margin: 0;
                height: 42px;
            }

            .schedule-div {
                width: 400px;
                height: 60px;

                .phone-img {
                    background-image: url('@{baseDir}images/phone.svg');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    width: 30px;
                    height: 55px;
                    float: left;
                    margin-right: 10px;
                }

                .text-div {
                    float: left;
                    width: 307px;
                    display: block;

                    span {
                        &:first-child {
                            .lib-font-size(20);
                            .lib-css(color, @color-lgrey);
                        }

                        &:nth-child(2) {
                            font-family: @font-family__grace;
                            .lib-font-size(27);
                            .lib-css(color, @color-green);
                            .lib-line-height(10);
                        }

                        &:last-child {
                            .lib-css(color, @color-lgrey);
                            .lib-font-size(13);
                            display: block;
                        }
                    }
                }
            }

            .block-search {
                margin-top: 6px;
                height: 32px;

                .action.search {
                    width: 87px;
                    height: 100%;
                    right: 0;
                    .lib-css(background-color, @color-lgreen);
                    text-align: center;
                    .lib-line-height(20);
                    border-radius: 0 7px 7px 0;
                    .lib-font-size(16);
                    .lib-css(color, @color-white);
                    .lib-css(font-weight, @font-weight__bold);

                    span {
                        position: static;
                    }
                }

                input {
                    .lib-css(border-color, @color-gblue);
                    border-radius: 5px;
                    padding-left: 35px;
                    padding-right: 70px;
                    font-style: italic;
                }
            }
        }

    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .page-header {
        .minicart-wrapper {
            margin-top: 4px;
        }

        .header.content {
            .lib-vendor-prefix-display(flex);
            justify-content: space-between;
            max-width: fit-content;
            .lib-vendor-prefix-flex-direction(column);

            .logo {
                width: 245px;
                margin: auto;
                margin-bottom: 15px;
            }

            .block-search {
                height: 32px;
                margin-bottom: 13px;

                .action.search {
                    width: 87px;
                    height: 100%;
                    right: 0;
                    .lib-css(background-color, @color-lgreen);
                    text-align: center;
                    .lib-line-height(20);
                    border-radius: 0 7px 7px 0;
                    .lib-font-size(16);
                    .lib-css(color, @color-white);
                    .lib-css(font-weight, @font-weight__bold);

                    &:hover {
                        .lib-css(background-color, @color-lgreen);
                    }

                    span {
                        position: static;
                    }
                }

                input {
                    .lib-css(border-color, @color-gblue);
                    border-radius: 5px;
                    padding-left: 35px;
                    padding-right: 70px;
                    font-style: italic;
                }
            }

            .schedule-div {
                margin-bottom: 15px;
                margin-left: 25px;
            }
        }
    }

    .page-wrapper {
        .control {
            &:before {
                display: none !important;
            }
        }

        .phone_img_home {
            display: none;
        }

        .nav-sections {
            display: block;
            text-align: center;
        }

        .navigation {
            ul {
                max-width: fit-content;
                margin: auto;
            }
        }

        .page-bottom {
            max-width: 100%;
            margin: 0;
            padding: 5px 0 0;
            .lib-css(border-top, 1px solid @color-wgrey);
            .lib-css(border-bottom, 1px solid @color-wgrey);
        }
    }

    .page-footer {
        .lib-css(background-color, @color-lgrey);

        .footer.content {
            text-align: center;

            .in-footers {
                width: 100%;
                min-height: 200px;
                .lib-vendor-prefix-display(flex);
                justify-content: space-between;

                .footer-div {
                    .lib-css(color, @color-wsmoke);
                    width: 300px;
                    .lib-font-size(15);

                    h2 {
                        .lib-font-size(20);
                        margin-top: 0;
                        margin-bottom: 20px;
                        margin-right: 12px;
                    }

                    ul {
                        li {
                            &:nth-child(3) {
                                margin-bottom: 13px;
                            }

                            &:nth-child(4) {
                                img {
                                    width: 10px;
                                    margin-right: 11px;
                                }
                            }

                            &:nth-child(5) {
                                margin-bottom: 13px;
                                .lib-font-size(13);

                                img {
                                    width: 14px;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }

                .footer-div2 {
                    .lib-css(color, @color-wsmoke);
                    width: 300px;
                    .lib-font-size(15);
                    .lib-line-height(25);

                    h2 {
                        .lib-font-size(20);
                        margin-top: 0;
                        margin-bottom: 20px;
                    }
                }

                .footer-div3 {
                    .lib-css(color, @color-wsmoke);
                    width: 300px;
                    .lib-font-size(15);
                    .lib-line-height(25);

                    h2 {
                        .lib-font-size(20);
                        margin-top: 0;
                        margin-bottom: 20px;
                    }
                }

                .footer-div4 {
                    .lib-css(color, @color-wsmoke);
                    width: 300px;
                    .lib-font-size(15);

                    h2 {
                        .lib-font-size(20);
                        margin-top: 0;
                        margin-bottom: 20px;
                    }
                }

                .logos {
                    height: 33px;
                    padding: 55px 0;

                    img {
                        background-size: 100%;
                        width: 150px;
                        margin-left: 7px;
                        float: left;
                    }
                }

                .logo_facebook {
                    width: 30px;
                    padding-left: 35px;

                    img {
                        float: left;
                    }
                }

                .logo_twitter {
                    width: 30px;
                    float: right;
                    padding-right: 40px;

                    img {
                        float: left;
                    }
                }

                .block.newsletter {
                    position: absolute;
                    margin-top: 10px;
                    max-width: 155px;

                    input {
                        background: transparent;
                        border-radius: 6px;
                        .lib-css(border-color, @color-wgreen);
                        margin: 0;
                        padding: 0 11px;
                        box-sizing: content-box;

                        &::placeholder {
                            .lib-css(color, @color-wsmoke);
                            font-style: italic;
                            .lib-font-size(17);
                        }
                    }

                    .action.subscribe {
                        background: transparent;
                        width: 17px;
                        border: none;
                        position: absolute;
                        z-index: 20;
                        padding: 0;
                        .lib-icon-image(
                            @_icon-image: '@{baseDir}images/paper_plane.png',
                            @_icon-image-height: 17px,
                            @_icon-image-width: 17px,
                            @_icon-image-margin: 8px 10px 0 0
                        );

                        &:before {
                            background-size: 100%;
                        }

                        span {
                            display: none;
                        }

                        button {
                            .lib-css(background-color, transparent);
                            .lib-css(border-color, transparent);
                        }
                    }
                }
            }
        }
    }

    .slick-slide {
        img {
            margin-left: 5px;
            margin-right: 5px;
            max-width: 81%;
            max-height: 68%;
        }
    }

    .in_logos.slick-initialized.slick-slider {
        top: 10px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .header.content {
        .block.block-search {
            float: none;
            padding-left: 0;
            width: 100%;

            .action.search {
                button {
                    margin: auto;
                }
            }

        }

        .schedule-div {
            width: fit-content;
            margin: 10px auto;
        }
    }

    .header.links {
        .lib-css(background-color, @color-lgrey);

        .minisearch.active {
            .action.search {
                display: block;
            }
        }
    }

    .control {
        &:before {
            display: none !important;
        }
    }

    span.base {
        display: block;
    }

    .phone_img_home {
        display: none;
    }

    .slick-list.draggable {
        top: 15px;
        min-width: 100%;
    }

    .page-bottom {
        .lib-css(border-top, 1px solid @color-whitegrey);
    }

    .page-footer {
        .lib-css(background-color, @color-lgrey);

        .in-footers {
            text-align: center;
            overflow: hidden;
            .lib-css(color, @color-wsmoke);

            .footer-div {
                ul {
                    li {
                        &:nth-child(4) {
                            margin-top: 5px;

                            img {
                                width: 10px;
                                margin-right: 5px;
                            }
                        }

                        &:nth-child(5) {
                            margin-bottom: 5px;

                            img {
                                width: 15px;
                                margin-right: 5px;
                            }
                        }


                    }
                }

            }

            .block.newsletter {
                max-width: 100%;
                margin-top: 10px;

                .field.newsletter {
                    position: relative;

                    input {
                        .lib-css(background-color, transparent);
                        border-radius: 5px;
                        .lib-css(border-color, @color-wgreen);

                        &::placeholder {
                            .lib-css(color, @color-wsmoke);
                            font-style: italic;
                            .lib-font-size(17);
                        }
                    }
                }

                .actions {
                    max-width: 100%;

                    button {
                        position: absolute;
                        right: 18px;
                        .lib-css(background-color, @color-dgreen);
                        .lib-css(border-color, @color-wgreen);
                    }
                }

                .logos {
                    .lib-vendor-prefix-display(flex);
                    justify-content: space-evenly;
                    margin-bottom: 15px;

                    img {
                        max-width: 50%;
                    }
                }
            }
        }
    }

    li.authorization-link {
        a {
            .lib-background-gradient(
                @_background-gradient: true,
                @_background-gradient-direction: vertical,
                @_background-gradient-color-start: rgba(138, 205, 191, 1),
                @_background-gradient-color-end: rgba(140, 199, 70, 1)
            );
            max-width: 20%;
            margin-bottom: 20px;
            margin-left: 15px;
            border: 0;
            .lib-line-height(9);
            border-radius: 10px;
            text-align: center;
        }
    }

    a.nav-sections-item-switch {
        .lib-css(color, @color-lgrey);
        .lib-font-size(16);
    }
}
